/* *{
    font-family: 'Times New Roman', Times, serif;
}
#Box {
    background-color:rgb(26, 92, 215);
}
.heading {
    color :red;
}
button {
    background-color: rgb(55, 230, 55);
}

h1 {
    text-align: center;
    text-transform: capitalize;
}
#firstone {
   font-size:25px;
}
#secondone {
  font-size:15px;
} */




    

